* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #BBD3F2;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /*    background:#124268; */
    background: #5E7E97;
    color: #fff;
}

header {
    text-align: center; 
}

.content {
    position: relative;
    
}

aside,
.main {
    float: left;
    width:50%;
    padding: 0 1rem;
}

aside a,
.main a,
footer a {
    color: #fff;
}

.main {
    background: #124268;
}

.largepic img {
    width:100%;
    height:auto;
    display:block;
}

aside {
    max-width: 500px;
}

header img {
    width: 100%;
    height: auto;
}
.sociallinks {
    float: right;
}
footer {
    background: #5E7E97;
    padding: 1rem;
    clear:both;
    
}
.clearfix:after {
    display:table;
    content:"";
    clear:both;
}
@media (max-width:800px) {
    aside,
    .main {
        float: none;
        width: 100%;
        padding: 1rem;
    }
}



